body {
    background-color: rgb(253, 253, 253);
}

img {
    max-width: 960px;
  }

/* .login_button {
    display: inline-block;
    text-align: center;
    padding: 0.3em 1em; 
    color: #4185af;
    border: solid 2px #5098c5;
    border-radius: 3px;
    transition: .4s;    
}

.login_button:hover {
    background: #67c5ff;
    color: white;
}

.login_button a {
    text-decoration: none;
}

.signup_button {
    text-align: center;
    display: inline-block;
    padding: 0.3em 1em;
    color: #4185af;
    border: solid 2px #5098c5;
    border-radius: 3px;
    transition: .4s;
}

.signup_button:hover {
    background: #67c5ff;
    color: white;
}

.signup_button a {
    text-decoration: none;
} */

input.form-control {
    width: 120%;
    position: relative;
    right: 10%;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.topmoji {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.bottommoji {
    font-size: 25px;
}

.card {
    width: 25rem;
    margin: 30px;
}

.btn btn-primary {
    position: relative;
    left: 50%;
}

/* PC用のCSSはメディアクエリの外に記述する */

@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
    input.form-control {
        width: 180%;
        position: relative;
        right: 40%;
    }
}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    img {
        width: 100%;
    }
    
    input.form-control {
        width: 200%;
        position: relative;
        right: 50%;
    }

    .topmoji {
        text-align: center;
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .card {
        width: auto;
        margin-top:3px;
    }
}