{% extends "layout.html" %}
{% block time %}

<div class="table-responsive">
    {% for studyone in studyALL %}
    {% if studyone.count　> 6 %}
    <table class="table table-striped">
        <tr>
            <td>{{studyone.front}}</td>

            <td id="{{studyone.id}}">{{studyone.back}}</td>
            <td>
                <input type="button" value="答えを見る" onclick="clickBtn('{{studyone.id}}')" />
            </td>
            <script>
                //最初は非表示にする
                document.getElementById("{{studyone.id}}").style.visibility = "hidden";
            </script>

            <td>品詞：{{studyone.partofspeech}}</td>
            <td>最終復習日：{{studyone.date}}</td>

            <td>
                <form action="/repeats_complete/{{studyone.id}}" method="post" name="repeats_complete">
                    <input type="submit" name="repeats_complete" value="×">
                </form>
            </td>
            <td>
                <a class="pronounce" href="/pronounce/{{studyone.id}}">詳しく見る</a>
            </td>
        </tr>
    </table>
    {% endif %}
    {% endfor %}
</div>
<h4><a class="new" href="/index">戻る</a></h4>

{% endblock %}