{% extends "layout.html" %}
{% block time %}

<h1>{{ name }}'s tangoapp</h1>

<h4>検索</h4>

<form class="w-25 mx-auto" action="/aimaisearch" method="post">
    <label class="sr-only"></label>
    <input class="form-control" type="text" name="search_word" placeholder="あいまい検索" />

    <input class="btn btn-outline-primary my-1" type="submit" value="検索" />
</form>

<form class="w-25 mx-auto" action="/zensearch" method="post">
    <label class="sr-only"></label>
    <input class="form-control" type="text" name="search_word" placeholder="全一致検索" />
    <br>
    <input class="btn btn-outline-primary my-1" type="submit" value="検索" />
</form>

<div class="searchresult">
    {% for searchone in searchALL %}
    <br>
    <h5>{{searchone.front}} ：{{searchone.back}}</h5>
    <a class="pronounce" href="/pronounce/{{searchone.id}}">詳しく見る</a>
    <br>
    {% endfor %}

    {{searchresult}}
</div>

{% endblock %}