{% extends "layout.html" %}
{% block time %}
<h1 class="topmoji">新規追加</h1>

<form class="w-25 mx-auto" action="/add" method="post" enctype="multipart/form-data">
    <label class="sr-only"></label>
    <input class="form-control" type="text" name="front" placeholder="覚えたいもの" required autofocus />

    <label class="sr-only"></label>
    <input class="form-control" type="text" name="back" placeholder="答え" required autofocus />

    <!-- <label class="sr-only"></label>
    <input class="form-control" type="text" name="partofspeech" placeholder="品詞" /> -->

    <label class="sr-only"></label>
    <input class="form-control" type="text" name="memo" placeholder="メモ" />

    <div class="pure-control-group">
        <label for="upfile">JPEGファイルを選択:</label>
        <input type="file" name="upfile" id="upfile">
      </div>

<input class="btn btn-outline-primary my-1" type="submit" value="新規追加" />
</form>

<a class="bottommoji" href="index">戻る</a>
{% endblock %}