{% extends "layout.html" %}
{% block time %}

<div class="table-responsive">
    {% for studyone in studyALL %}
    <table class="table table-striped">
        <tr>
            <th>英単語</th>
            <th>日本語訳
            <th>
            <th>品詞</th>
            <th>メモ</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>{{studyone.id}}</td>　
            <!-- idはいらない -->
            <td>{{studyone.front}}</td>
            <td>{{studyone.back}}</td>
            <td>{{studyone.partofspeech}}</td>
            <td>{{studyone.date.strftime('%b %d, %Y')}}</td>
            <!-- 日付はいらない -->
            <td>{{studyone.count}}</td>
            <!-- カウントもいらない -->
            <td>{{studyone.sumcount}}</td>
            <td>
                <form action="/understand/{{studyone.id}}" method="post" name="understand">
                    <input type="submit" name="understand" value="〇">
                </form>
            </td>
            <td>
                <form action="/repeats/{{studyone.id}}" method="post" name="repeats">
                    <input type="submit" name="repeats" value="×">
                </form>
            </td>
            <td>
                <a class="pronounce" href="/pronounce/{{studyone.id}}">詳しく見る</a>
            </td>
        </tr>
    </table>



    {% endfor %}
</div>
<h4><a class="new" href="/index">戻る</a></h4>

{% endblock %}