{% extends "layout.html" %}
{% block time %}

{% for studyone in studyALL %}
{% if nowdate > studyone.date %}

<div class="card">
    <img src="static/images/noimage.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h3 class="card-title">{{studyone.front}}</h3>
        <p id="{{studyone.id}}">{{studyone.back}}</p>

        <input class="btn btn-primary" style="margin: 5px;" type="button" value="答えを見る"
            onclick="clickBtn('{{studyone.id}}')" />

        <script>
            //最初は非表示にする
            document.getElementById("{{studyone.id}}").style.visibility = "hidden";
        </script>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">品詞：{{studyone.partofspeech}}</li>
            <li class="list-group-item"> 学習回数：{{studyone.sumcount}}</li>
        </ul>

        <table style="margin-left: auto; margin-right: auto;">
            <tr>
                <td>
                    <form action="/understand/{{studyone.id}}" method="post" name="understand">
                        <input class="btn btn-primary" style="margin-top:20px; margin-bottom: 30px;" type="submit"
                            name="understand" value="〇">
                    </form>
                </td>
                <td>
                    <form action="/repeats/{{studyone.id}}" method="post" name="repeats">
                        <input class="btn btn-primary" style="margin-top:20px; margin-bottom: 30px; margin-left: 20px;"
                            type="submit" name="repeats" value="☓">
                    </form>
                </td>
            </tr>
        </table>

        <a href="/pronounce/{{studyone.id}}" class="card-link">詳しく見る</a>
        <p class="card-text"><small class="text-muted">次回復習日：{{studyone.date}}</small></p>
    </div>
</div>

{% endif %}
{% endfor %}

<!-- <h4><a class="new" href="/index">戻る</a></h4> -->

{% endblock %}