{% extends "layout.html" %}
{% block time %}

<div class="table-responsive">
    {% for studyone in studyALL %}
    <table class="table table-striped">
        <tr>
            <td>{{studyone.id}}</td>　
            <!-- idはいらない -->
            <td>{{studyone.front}}</td>

            <td id="{{studyone.id}}">{{studyone.back}}</td>
            <td>
                <input type="button" value="答えを見る" onclick="clickBtn('{{studyone.id}}')" />
            </td>
            <script>
                //最初は非表示にする
                document.getElementById("{{studyone.id}}").style.visibility = "hidden";
            </script>

            <td>品詞：{{studyone.partofspeech}}</td>
            <td>最終復習日：{{studyone.date}}</td>

            <td>最終復習日：{{studyone.date.strftime('%b %d, %Y')}}</td>

            <td>{{studyone.count}}</td>
            <!-- カウントもいらない -->
            <td>学習回数：{{studyone.sumcount}}</td>
            <td>
                <form action="/understand/{{studyone.id}}" method="post" name="understand">
                    <input type="submit" name="understand" value="〇">
                </form>
            </td>
            <td>
                <form action="/repeats/{{studyone.id}}" method="post" name="repeats">
                    <input type="submit" name="repeats" value="×">
                </form>
            </td>
            <td>
                <a class="pronounce" href="/pronounce/{{studyone.id}}">詳しく見る</a>
            </td>
        </tr>
    </table>

    {% endfor %}
</div>
<h4><a class="new" href="/index">戻る</a></h4>

{% endblock %}